{% extends "layout.html" %}

{% block title %}{{ config.title }}{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block body %}
<main id="main" class="font-display h-full">
  <div class="hero bg-base-200 min-h-100 drop-shadow-xl">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold mb-8">{{ config.title }}</h1>

        {{ section.content | safe }}
      </div>
    </div>
  </div>

  <div class="bg-secondary h-full px-4 md:px-20 lg:px-40">
    <div class="bg-base-100 mx-auto h-full drop-shadow-xl"></div>
  </div>
</main>
{% endblock body %}
