@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom CSS code goes here */

pre {
  position: relative;
  padding: 10px 15px;
}


.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}

.copy-button:hover {
  background-color: #0056b3;
}
